.estrutura {

    background-image: url('/static/img/undraw_education_f8ru.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 55%;

    display: flex;
    flex-direction: column;
    padding-bottom: 100vh;
    padding-top: 2rem;
    position: relative;
    justify-content: space-around;

    .estrutura_imagens {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        a {
            height: 40%;
            margin: 0 1rem;

            img {
                height: 100%;
            }
        }
    }
}