header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 2rem;

    nav {
        
        flex-grow: 1;

        ul {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            justify-content: space-around;
            padding-left: 4rem;

            a {
                color: #000000;
                font-weight: 500;
            }

            li {
                text-align: center;
            }

            .button {
                background-color: $cor-fundo-button-azul;
                border-radius: 10px;
                box-sizing: border-box;
                color: $cor-text-button-branco;
                padding: .5rem 2.5rem;

            }
        }
    }
}