header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 2rem;

    nav {
        
        width: 60%;

        ul {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            justify-content: space-around;
            padding-left: 4rem;

            a {
                color: #000000;
                font-weight: 500;
            }

            a:hover {
                text-decoration: underline;
            }

            li {
                text-align: center;
            }

            .button {
                background-color: $cor-fundo-button-azul;
                border-radius: $border-radius-button-header;
                box-sizing: border-box;
                @include box-shadow_header();
                color: $cor-text-button-branco;
                padding: .5rem 2.5rem;
            }
        }
    }
}