@import './mobile/header.scss';
@import './mobile/banner.scss';
@import './mobile/quem-somos.scss';
@import './mobile/estrutura.scss';
@import './mobile/contribua.scss';
@import './mobile/footer.scss';


@media screen and (max-width: 900px){

    :root {
        font-size: 18px;
    }

    body {
        padding: 0 0 2rem;
        width: 100vw;

        h2 {
            font-size: $font-size-h2_mobile;
            font-weight: 400;
            margin-bottom: 3rem;
            text-align: center;
        }

        p{
            text-align: left;
        }

        p+p {
            margin-top: 3rem;
        }
    }

    .container {
        padding: 0 $container-padding-horizontal_mobile;
    }
}


