* {
  margin: 0;
  padding: 0;
  list-style: none; }

a:link {
  color: initial;
  text-decoration: none; }

a:visited {
  color: initial; }

.container {
  padding: 0 2.5rem; }

.button {
  box-shadow: 0px 4px 5px rgba(0, 66, 87, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem; }

.button:hover {
  cursor: pointer; }

.verde {
  background-color: #009800; }

:root {
  color: #191919;
  font-family: "Montserrat", sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  padding: 0 2.8rem; }
  body h2 {
    color: #004257;
    font-size: 3.06rem;
    font-weight: normal; }
  body p {
    font-size: 1.312rem;
    line-height: 150%;
    text-align: justify; }

header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 2rem; }
  header nav {
    width: 60%; }
    header nav ul {
      align-items: center;
      display: flex;
      font-size: 1.25rem;
      justify-content: space-around;
      padding-left: 4rem; }
      header nav ul a {
        color: #000000;
        font-weight: 500; }
      header nav ul a:hover {
        text-decoration: underline; }
      header nav ul li {
        text-align: center; }
      header nav ul .button {
        background-color: #0098C7;
        border-radius: 10px;
        box-sizing: border-box;
        color: #FFFFFF;
        padding: .5rem 2.5rem; }

#banner {
  background-image: url("/static/img/undraw_studying_s3l7.svg");
  background-position-x: right;
  background-position-y: 3.5rem;
  background-size: 50%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;
  padding-bottom: 2rem; }
  #banner h1 {
    display: block;
    font-size: 4.125rem;
    font-weight: normal;
    width: 55rem;
    margin-bottom: 3.5rem; }
    #banner h1 span {
      color: #0098C7;
      font-size: 5.5rem; }
  #banner p {
    width: 25rem; }

#quem-somos {
  background-color: #CFE0E5;
  border-radius: 20px;
  padding: 5rem 2.5rem 4.6rem; }
  #quem-somos .quem-somos_texto {
    margin: 3.75rem 0; }
    #quem-somos .quem-somos_texto p:first-child {
      margin-bottom: 1rem; }
  #quem-somos .quem-somos_cards {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    #quem-somos .quem-somos_cards .card {
      background-color: #FAFAFA;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 2rem;
      border-radius: 10px;
      box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25), inset 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 15rem;
      width: 15rem;
      padding: 5rem 1rem; }
      #quem-somos .quem-somos_cards .card h3 {
        color: #E70E0E;
        font-weight: bold;
        margin-bottom: 1rem; }
      #quem-somos .quem-somos_cards .card:nth-child(1) {
        background-image: url("/static/img/fa-solid_rocket.svg"); }
      #quem-somos .quem-somos_cards .card:nth-child(2) {
        background-image: url("/static/img/fa-solid_eye.svg"); }
      #quem-somos .quem-somos_cards .card:nth-child(3) {
        background-image: url("/static/img/fa-solid_gem.svg"); }
      #quem-somos .quem-somos_cards .card p {
        font-size: .9rem;
        line-height: 150%;
        text-align: center; }

.estrutura {
  background-image: url("/static/img/undraw_education_f8ru.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 70%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100vh;
  padding-top: 2rem;
  position: relative;
  justify-content: space-around; }
  .estrutura .estrutura_imagens {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: space-evenly; }
    .estrutura .estrutura_imagens a {
      height: 30%;
      margin: 1rem 1%; }
      .estrutura .estrutura_imagens a img {
        width: auto; }

.contribua {
  background-image: url("/static/img/undraw_gifts_btw.svg");
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-size: 50%;
  padding-top: 3rem;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .contribua form {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64%;
    width: 100%; }
    .contribua form * {
      box-sizing: border-box;
      box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25), inset 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 1rem;
      width: 30rem; }
    .contribua form *:not(.button) {
      border: 1px solid #000000;
      font-family: "Montserrat", sans-serif; }
    .contribua form input {
      height: 4.43rem;
      border-radius: 10px;
      font-size: 1.25rem; }
    .contribua form input::placeholder {
      color: #1A1A1A; }
    .contribua form textarea {
      height: 8.43rem;
      font-size: 1.312rem; }
    .contribua form textarea::placeholder {
      color: #1A1A1A; }
    .contribua form .button {
      background-color: #E70E0E;
      border-radius: 20px;
      color: #FFFFFF;
      padding: 1.5rem 0;
      text-align: center; }

footer {
  align-items: center;
  background-color: #CFE0E5;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  height: 18.7rem;
  justify-content: center;
  left: 0;
  margin-top: 9.5rem;
  padding: 2rem 0 0;
  position: absolute;
  width: 100%; }
  footer .linha {
    background-color: black;
    height: 70%;
    width: 2px;
    margin: 0 2rem; }

@media screen and (max-width: 900px) {
  header {
    text-align: center;
    width: 100%;
    padding: 1rem; }
    header a {
      width: 60%;
      margin: 0 auto; }
      header a svg {
        width: 100%; }
    header nav {
      display: none; } }
@media screen and (max-width: 900px) {
  #banner {
    background-image: none;
    height: initial;
    margin-bottom: 1rem;
    width: 100%; }
    #banner h1 {
      font-size: 1.4rem;
      font-weight: 400;
      width: 100%; }
      #banner h1 span {
        font-size: 2.5rem; }
    #banner p {
      text-align: left;
      width: initial; } }
@media screen and (max-width: 900px) {
  #quem-somos {
    height: initial;
    border-radius: 0;
    padding: 2.5rem 8% 3.5rem; }
    #quem-somos .quem-somos_texto {
      margin-top: 0; }
    #quem-somos .quem-somos_cards {
      flex-wrap: wrap; }
      #quem-somos .quem-somos_cards .card {
        margin: 1rem 1rem; } }
@media screen and (max-width: 900px) {
  #estrutura {
    background-size: 80%;
    height: initial;
    padding: 2.5rem 8% 70%; } }
@media screen and (max-width: 600px) {
  #estrutura .estrutura_imagens {
    padding: 1rem 0; }
    #estrutura .estrutura_imagens a {
      width: 100%;
      margin: 1rem 0; }
      #estrutura .estrutura_imagens a img {
        width: 100%; } }
@media screen and (min-width: 1300px) {
  #estrutura {
    background-size: 57%; } }
@media screen and (max-width: 900px) {
  #contribua {
    height: initial;
    background-image: none;
    padding: 2.5rem 8% 0; }
    #contribua form {
      margin-top: 2rem;
      width: 100%; }
      #contribua form * {
        width: 100%; }
      #contribua form input {
        margin-bottom: 2rem; }
      #contribua form textarea {
        margin-bottom: 2rem; } }
@media screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    padding: 0;
    position: initial;
    margin-top: 2rem; }
    footer .linha {
      display: none; }
    footer p {
      margin: 0 auto;
      text-align: center;
      font-size: .8rem;
      position: relative;
      top: -1rem;
      left: 2.5rem; } }
@media screen and (max-width: 900px) {
  :root {
    font-size: 18px; }

  body {
    padding: 0 0 2rem;
    width: 100vw; }
    body h2 {
      font-size: 1.66rem;
      font-weight: 400;
      margin-bottom: 3rem;
      text-align: center; }
    body p {
      text-align: left; }
    body p + p {
      margin-top: 3rem; }

  .container {
    padding: 0 8%; } }

/*# sourceMappingURL=styles.css.map */
