
.container {
    padding: 0 $container-padding-horizontal;
}

.button {
    font-family: $fonte-buttons;
    font-size: $font-size-buttons;
    transition-duration: 500ms;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.button_acessos {
    @include box-shadow_red();
}

.verde {
    background-color: $cor-fundo-button-verde;
}