
.container {
    padding: 0 $container-padding-horizontal;
}

.button {
    box-shadow: 0px 4px 5px rgba(0, 66, 87, 0.3);
    font-family: $fonte-buttons;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
}

.verde {
    background-color: $cor-fundo-button-verde;
}