<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/layout/acesso-login/plataforma-login.css">
    
    <script src="/scripts/criar-conta.js"></script>

    <title>Educalis | Criar conta</title>
</head>
<body>

        <a href="/login" class="voltar button">&#10094</a>

        <div class="formulario-criar-conta_figura">
            <img src="/static/img/Charco_Education.svg" alt="">
        </div>

        <div class="formulario-criar-conta">
            <a class="logo" href="/" title="Educalis Logo">
                <img src="/static/img/logo.svg" alt="Educalis Logo">
            </a>
    
            <form name="novaConta">
                <input name="nomeEscola" placeholder="Nome da Escola" type="text">
                <input name="matricula" placeholder="Matrícula" type="text">
                <input name="email" placeholder="E-mail" type="email">
                <input name="senha" placeholder="Senha" type="password">
                <input type="button" class="button" onClick="atribuirValores()" value="Enviar" >
             </form>
        </div>
</body>
</html>