<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/public/css/layout/acesso-login/plataforma-login.css">
    
    <title>Educalis | Login</title>
</head>
<body>
    <section >
        
        <div class="formulario-criar-conta_figura">
            <img src="/public/img/Charco_Education.svg" alt="">
        </div>

        <div class="formulario-criar-conta">
            <a class="logo" href="/src/views/index.html" title="Educalis Logo">
                <img src="/public/img/logo.svg" alt="Educalis Logo">
            </a>
    
            <form action="">
                <input placeholder="Nome da Escola" type="text">
                <input placeholder="Matrícula" type="text">
                <input placeholder="E-mail" type="email">
                <input placeholder="Senha" type="password">
                <a href="#" class="button">Criar Conta</a>
                <a href="/src/views/login.html" class="button verde">Voltar</a>
            </form>
        </div>
    </section>
</body>
</html>