<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/layout/acesso-plataforma/dashboard.css">
    
    <script src="/static/scripts/dashboard.js"></script>

    <title>Educalis | Dashboard</title>
</head>
<body>

    <aside class="menu-lateral">
        <a href="">
            <img src="/static/img/logo_icon.svg" alt="">
        </a>

        <%- include('parts/Menu-Lateral') %> 
    </aside>
    
    <div id="display" class="display">
        
        <section class="menu-superior">
            <div class="botoes">
                
                <a href="#">
                    Professores
                </a>
                <a href="/">Sair</a>
            </div>
        </section>

        <h2></h2>

        <section id="disciplinas" class="display_itens">
            <a href="#" class="disciplinas_materia geografia">
                <img src="/static/img/disciplinas/geografia.svg" alt="">

                    <p>Geografia</p>
            </a>
            <a href="#" class="disciplinas_materia matematica">
                <img src="/static/img/disciplinas/matematica.svg" alt="">
                <p>Matemática</p>
            </a>
            <a href="#" class="disciplinas_materia fisica">
                <img src="/static/img/disciplinas/fisica.svg" alt="">
                <p>Física</p>
            </a>
            <a href="#" class="disciplinas_materia quimica">
                <img src="/static/img/disciplinas/quimica.svg" alt="">
                <p>Química</p>
            </a>
            <a href="#" class="disciplinas_materia quimica">
                <img src="/static/img/disciplinas/quimica.svg" alt="">
                <p>História</p>
            </a>
        </section>

        <section id="calendario" class="display_itens">
            <table>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                    
            </table>
        </section>

        <section id="boletim" class="display_itens">
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p>Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            
        </section>
    </div>

</body>
</html>