<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/layout/acesso-plataforma/dashboard.css">
    
    <script src="/static/scripts/dashboard.js"></script>

    <title>Educalis | Dashboard</title>
</head>
<body>

    <aside class="menu-lateral">
        <a href="">
            <img src="/static/img/logo_icon.svg" alt="">
        </a>

        <%- include('parts/Menu-Lateral') %> 
    </aside>
    
    <div id="display" class="display">
        
        <section class="menu-superior">
            <div class="botoes">
                
                <a href="#" onClick="professores()">
                    Professores
                </a>
                <a href="/">Sair</a>
            </div>
        </section>

        <h2></h2>

        <section id="disciplinas" class="display_itens">
            <a href="#" class="disciplinas_materia geografia">
                <img src="/static/img/disciplinas/geografia.svg" alt="">

                    <p>Geografia</p>
            </a>
            <a href="#" class="disciplinas_materia matematica" onClick="matematica()">
                <img src="/static/img/disciplinas/matematica.svg" alt="">
                <p>Matemática</p>
            </a>
            <a href="#" class="disciplinas_materia fisica">
                <img src="/static/img/disciplinas/fisica.svg" alt="">
                <p>Física</p>
            </a>
            <a href="#" class="disciplinas_materia quimica">
                <img src="/static/img/disciplinas/quimica.svg" alt="">
                <p>Química</p>
            </a>
            <a href="#" class="disciplinas_materia quimica">
                <img src="/static/img/disciplinas/quimica.svg" alt="">
                <p>História</p>
            </a>
        </section>

        <section id="calendario" class="display_itens">
            <table>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                    
            </table>
        </section>

        <section id="boletim" class="display_itens">
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p>Professor A</p>
                <p>Nota</p>
            </a>
            <a href="#" class="boletim_materia">
                <h3>MATERIA</h3>
                <p class="boletim_professor">Professor A</p>
                <p>Nota</p>
            </a>
            
        </section>

        <section id="professores" class="display_itens">
            <a href="#" class="professor">
                <h3>GEOGRAFIA</h3>
                <img src="" alt="">
                <p>Professor A</p>
            </a>
            <a href="#" class="professor">
                <h3>MATEMÁTICA</h3>
                <img src="" alt="">
                <p>Professor A</p>
            </a>
            <a href="#" class="professor">
                <h3>FÍSICA</h3>
                <img src="" alt="">
                <p>Professor A</p>
            </a>
            <a href="#" class="professor">
                <h3>QUÍMICA</h3>
                <img src="" alt="">
                <p>Professor A</p>
            </a>
            <a href="#" class="professor">
                <h3>HISTÓRIA</h3>
                <img src="" alt="">
                <p>Professor A</p>
            </a>
            
        </section>

        <section id="disciplina_matematica" class="display_itens">
            <a href="#" class="materia">
                <h4>Inequações</h4>
            </a>
            <a href="#" class="materia">
                <h4>Equações 1º</h4>
            </a>
            <a href="#" class="materia">
                <h4>Equações 2º</h4>
            </a>
            <a href="#" class="materia" onClick="matematica_conjuntos()">
                <h4>Conjuntos</h4>
            </a>
            <a href="#" class="materia">
                <h4>Geometria</h4>
            </a>
            <a href="#" class="materia">
                <h4>Trigonometria</h4>
            </a>
            
        </section>

        <section id="disciplina_matematica_conjuntos" class="display_itens">
            <img src="/static/img/disciplinas/matematica/conjuntos.svg" alt="">
            <p>
                Teoria dos conjuntos ou de conjuntos é o ramo da matemática que estuda conjuntos, que são coleções de elementos. Embora qualquer tipo de elemento possa ser reunido em um conjunto, a teoria dos conjuntos é aplicada na maioria das vezes a elementos que são relevantes para a matemática. A linguagem da teoria dos conjuntos pode ser usada nas definições de quase todos os elementos matemáticos.
            </p>
            <p>
                O estudo moderno da teoria dos conjuntos foi iniciado por Georg Cantor e Richard Dedekind em 1870. Após a descoberta de paradoxos na teoria ingênua dos conjuntos, numerosos sistemas de axiomas foram propostos no início do século XX, dos quais os axiomas de Zermelo-Fraenkel, com o axioma da escolha, são os mais conhecidos.
            </p>
            
        </section>

    </div>

</body>
</html>