<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/public/css/layout/acesso-plataforma/dashboard.css">
    
    <title>Educalis | Dashboard</title>
</head>
<body>

    <aside class="menu-lateral">
        <a href="">
            <img src="/public/img/logo_icon.svg" alt="">
        </a>
        <nav>
            <ul>
                <li><a href="#">Disciplinas</a></li>
                <li><a href="#">Calendário</a></li>
                <li><a href="#">Boletim</a></li>
            </ul>
        </nav>
    </aside>
    
    <div class="display">
        
        <section class="menu-superior">
            <div class="botoes">
                
                <a href="#">
                    Professores
                </a>
                <a href="/src/views/index.html">Sair</a>
            </div>
        </section>

        <h2>Escolha a disciplina</h2>

        <section class="display_itens">
            <a href="#" class="disciplina geografia">
                <img src="/public/img/disciplinas/geografia.svg" alt="">

                    <p>Geografia</p>
            </a>
            <a href="#" class="disciplina matematica">
                <img src="/public/img/disciplinas/matematica.svg" alt="">
                <p>Matemática</p>
            </a>
            <a href="#" class="disciplina fisica">
                <img src="/public/img/disciplinas/fisica.svg" alt="">
                <p>Física</p>
            </a>
            <a href="#" class="disciplina quimica">
                <img src="/public/img/disciplinas/quimica.svg" alt="">
                <p>Química</p>
            </a>
            <a href="#" class="disciplina quimica">
                <img src="/public/img/disciplinas/quimica.svg" alt="">
                <p>História</p>
            </a>
        </section>
    </div>

</body>
</html>