<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/layout/acesso-login/plataforma-login.css">
    
    <title>Educalis | Nova Senha</title>
</head>
<body>     
    
    <a href="/login" class="voltar button">&#10094</a>
    
    <div class="formulario-esqueceu-senha_figura">
        <img src="/static/img/undraw_Questions_re_1fy7.svg" alt="">
    </div>
    
    <div class="formulario-esqueceu-senha">
        <a class="logo" href="/src/views/index.html" title="Educalis Logo">
            <img src="/static/img/logo.svg" alt="Educalis Logo">
        </a>
        
        <form action="">
            <input placeholder="Digite seu e-mail" type="email">
            <%- include('parts/Button', { text:'Enviar', script:'none' }) %> 
        </form>
        
    </div>
</body>
</html>