<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educalis | Login</title>
</head>
<body>
    <section class="formulario">
        <a href="">
            <img src="" alt="">
        </a>

        <form action="">
            <input placeholder="Matrícula" type="text">
            <input placeholder="Senha" type="password">
            <a href="" class="button">Entrar</a>
        </form>

        <div class="conta">
            <a href="">Criar conta</a>
            <a href="">Esqueceu sua senha</a>
        </div>
    </section>
</body>
</html>