<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/public/css/layout/acesso-login/plataforma-login.css">
    
    <title>Educalis | Login</title>
</head>
<body>
    <section >
        
        <div class="formulario-login_figura">
            <img src="/public/img/undraw_exams_g4ow.svg" alt="">
        </div>

        <div class="formulario-login">
            <a class="logo" href="/src/views/index.html" title="Educalis Logo">
                <img src="/public/img/logo.svg" alt="Educalis Logo">
            </a>
    
            <form action="">
                <input placeholder="Matrícula" type="text">
                <input placeholder="Senha" type="password">
                <a href="/src/views/dashboard.html" class="button">Entrar</a>
                <a href="/src/views/index.html" class="button">Voltar</a>
            </form>
    
            <div class="conta">
                <a href="./criar-conta.html">Criar conta</a>
                <a href="./esqueceu-senha.html">Esqueceu sua senha</a>
            </div>
        </div>
    </section>
</body>
</html>