<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/layout/acesso-login/plataforma-login.css">

    <script src="/scripts/login.js"></script>

    <title>Educalis | Login</title>
</head>
<body>
    
    <div class="formulario-login_figura">
        <img src="/img/undraw_exams_g4ow.svg" alt="">
    </div>
    
    
    <div class="formulario-login">
        
        <a href="/" class="voltar button">&#10094</a>

        <a class="logo" href="/" title="Educalis Logo">
            <img src="/img/logo.svg" alt="Educalis Logo">
        </a>
        
        <form name="login">
            <input placeholder="Matrícula" name="matricula" type="text">
            <input placeholder="Senha" name="senha" type="password">
            <input type="button" class="button" onClick="logar()" value="Entrar">
        </form>
        
        <div class="conta">
            <a href="/criar-conta">Criar conta</a>
            <a href="/esqueceu-senha">Esqueceu sua senha</a>
        </div>
    </div>

</body>
</html>