@media screen and (max-width: 900px){
    body {
        overflow-x: hidden;
    }
    
    #estrutura {
        
        p {
            margin: 0;
        }

        background-size: 80%;
        height: initial;
        @include container-padding();

        
        .estrutura_imagens {
            margin: 1rem 0;
        }

    }
}

@media screen and (max-width: 600px) {
    #estrutura {

        .estrutura_imagens {

            a {
                width: 100%;
                margin: 1rem 0;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    #estrutura {
        background-size: 57%;
    }
}