@media screen and (max-width: 900px){
    header {
        text-align: center;
        width: 100%;
        padding: 1rem;

        a {
            width: 60%;
            margin: 0 auto;

            svg {
                width: 100%;
            }
        }

        nav {
            display: none;
        }
    }
}