<nav>
    <ul>
        <li onClick="disciplina()"><a>Disciplinas</a></li>
        <li onClick="calendario()"><a>Calendários</a></li>
        <li onClick="boletim()"><a>Boletim</a></li>
        <li onClick="minhaConta()"><a>Minha Conta</a></li>
        <li onClick="configuracoes()"><a>Configs.</a></li>
    </ul>
</nav>