* {
  margin: 0;
  padding: 0;
  list-style: none; }

a:link {
  color: initial;
  text-decoration: none; }

a:visited {
  color: initial; }

.container {
  padding: 0 2.5rem; }

.button {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  outline: none; }

.button:hover {
  cursor: pointer; }

.button_acessos {
  filter: drop-shadow(0px 4px 4px rgba(231, 14, 14, 0.25));
  transition-duration: 500ms; }
  .button_acessos:hover {
    transform: scale(1.05); }

.verde {
  background-color: #009800; }

* {
  font-family: "Montserrat", sans-serif; }

body {
  background-color: #E5E5E5;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; }

.menu-lateral {
  text-align: center;
  background-color: #B1D3DE;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 4px 4px rgba(102, 102, 102, 0.25);
  box-sizing: border-box;
  height: 100%;
  padding-top: 2.5rem;
  position: fixed;
  width: 13rem; }
  .menu-lateral nav {
    align-items: flex-start;
    display: flex;
    height: 30%;
    margin-top: 3rem;
    text-align: left; }
    .menu-lateral nav ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%; }
      .menu-lateral nav ul li {
        box-sizing: border-box;
        padding: 0 1rem; }
        .menu-lateral nav ul li a {
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: left;
          color: #004257;
          display: block;
          filter: brightness(1);
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          padding: 1rem 0 1rem 3rem; }
      .menu-lateral nav ul li:nth-child(1) a {
        background-image: url("/static/img/icons/livro.svg"); }
      .menu-lateral nav ul li:nth-child(2) a {
        background-image: url("/static/img/icons/calendario.svg"); }
      .menu-lateral nav ul li:nth-child(3) a {
        background-image: url("/static/img/icons/boletim.svg"); }
      .menu-lateral nav ul li:nth-child(4) a {
        background-image: url("/static/img/icons/profile.svg"); }
      .menu-lateral nav ul li:nth-child(5) a {
        background-image: url("/static/img/icons/gear.svg"); }
      .menu-lateral nav ul li:hover {
        cursor: pointer;
        background-color: #004257; }
        .menu-lateral nav ul li:hover a {
          filter: invert(97%) sepia(77%) saturate(1312%) hue-rotate(171deg) brightness(91%) contrast(90%); }

.display {
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  padding: 2rem;
  padding-left: 14.2rem;
  width: 100%; }
  .display h2 {
    font-size: 3.06rem;
    font-weight: normal;
    margin-bottom: 1rem; }
  .display .display_itens {
    overflow: auto;
    box-sizing: border-box;
    display: none;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: flex-start;
    padding-top: 2.875rem; }
  .display .disciplinas_materia, .display .materia:hover {
    transition-duration: 500ms; }
    .display .disciplinas_materia:hover, .display .materia:hover:hover {
      transform: scale(1.05);
      transition-duration: 500ms; }
  .display #minha_conta {
    flex-direction: column; }
    .display #minha_conta * {
      margin: 1rem; }
    .display #minha_conta .button {
      background-color: red;
      width: 20%;
      padding: .5rem; }
  .display #disciplinas .disciplinas_materia {
    text-align: center;
    margin-right: 5%;
    margin-bottom: 2%; }
    .display #disciplinas .disciplinas_materia img {
      box-sizing: border-box;
      border-radius: 10px;
      padding: .4rem; }
  .display #disciplinas p {
    margin-top: .8rem; }
  .display #disciplinas .geografia img {
    padding: 0; }
  .display #disciplinas .geografia p {
    margin-top: 0; }
  .display #disciplinas .matematica img {
    background-color: #666666; }
  .display #disciplinas .fisica img {
    background-color: #0098C7; }
  .display #disciplinas .quimica img {
    background-color: #F5DCDC; }
  .display #disciplina_matematica h4 {
    font-size: 1.25rem; }
  .display #disciplina_matematica .materia {
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25), inset 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 3rem 4.5rem;
    text-align: center; }
  .display #disciplina_matematica_conjuntos img {
    margin: 0 auto 3rem; }
  .display #disciplina_matematica_conjuntos p {
    font-size: 1.25rem;
    margin-bottom: 2rem; }
  .display #professores .professor {
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25), inset 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 3rem 4.5rem;
    text-align: center; }
  .display #calendario {
    display: none;
    overflow-x: hidden;
    justify-content: flex-end;
    padding-top: 0; }
    .display #calendario a {
      vertical-align: baseline; }
    .display #calendario h3 {
      font-family: "Big Shoulders Display", cursive;
      font-size: 4rem;
      margin-right: .4rem; }
    .display #calendario table {
      border-collapse: collapse;
      border-spacing: 0;
      height: 100vh;
      width: 100%; }
      .display #calendario table thead th {
        font-family: "Roboto", sans-serif;
        font-size: 1.3rem;
        padding: 1.2rem 0 .8rem; }
      .display #calendario table tbody {
        background-color: #FFFFFF; }
        .display #calendario table tbody tr td {
          border: 1px solid #D6D6D6;
          font-family: "Roboto", sans-serif;
          font-size: 1.5rem;
          text-align: right;
          vertical-align: top;
          width: 5rem;
          padding: .4rem; }
  .display #boletim {
    display: none; }
    .display #boletim h3 {
      font-size: 1.5rem;
      line-height: 2rem; }
    .display #boletim .boletim_materia {
      box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25), inset 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 3%;
      margin-bottom: 3%;
      padding: 3rem 4.5rem;
      text-align: center; }
      .display #boletim .boletim_materia .boletim_professor {
        margin: 2rem 0; }

.menu-superior {
  box-sizing: border-box;
  height: 10%;
  width: 100%; }
  .menu-superior .botoes {
    right: 0;
    position: absolute; }
    .menu-superior .botoes a {
      background-repeat: no-repeat;
      background-position-y: top;
      background-position-x: center;
      color: #666666;
      display: inline-block;
      font-weight: bold;
      height: 100%;
      right: 0;
      margin-right: 1rem;
      padding-top: 2.5rem;
      text-align: center;
      width: 5rem; }
    .menu-superior .botoes a:nth-child(1) {
      background-image: url("/static/img/icons/read.svg"); }
    .menu-superior .botoes a:nth-child(2) {
      background-image: url("/static/img/icons/exit.svg"); }

/*# sourceMappingURL=dashboard.css.map */
