.display {

    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    padding: 2rem;
    padding-left: 14.2rem;
    width: 100%;

    h2 {
        font-size: $font-size-h2;
        font-weight: normal;
        margin-bottom: 1rem;
    }

    .display_itens {
        overflow: auto;
        box-sizing: border-box;
        display: none;
        flex-wrap: wrap;
        height: 70vh;
        justify-content: flex-start;
        padding-top: 2.875rem;   
    }

    #disciplinas {     
        .disciplinas_materia {
            text-align: center;
            margin-right: 5%;
            margin-bottom: 2%;

            img {
                box-sizing: border-box;
                border-radius: $border-radius-cards;
                padding: .4rem;
            }
        }

        p {
            margin-top: .8rem;
        }

        .geografia {
            img {
                padding: 0;
            }

            p {
                margin-top: 0;
            }
        }
        .matematica img{
            background-color: #666666;
        }
        .fisica img{
            
            background-color: #0098C7;
        }
        .quimica img{
            background-color: #F5DCDC;
        }
    }

    #professores {

        .professor {
            @include box-shadow_cards();
            @include display-align_padrao();  
        }
    }

    #disciplina_matematica {
        h4 {
            font-size: $font-size-h4;
        }

        .materia {
            @include box-shadow_cards();
            @include display-align_padrao();  
        }
    }

    #calendario {
        display: none;
        border: 1px solid black;
    }

    #boletim{

        display: none;

        h3 {
            font-size: $font-size-h3;
            line-height: 2rem;
        }

        .boletim_materia {
            @include box-shadow_cards();
            @include display-align_padrao();            

            .boletim_professor {
                margin: 2rem 0;
            }
        }
    }
}

