.display {

    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    padding-left: 14.2rem;

    .display_itens {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 2.875rem;
    
        h2 {
            font-size: $font-size-h2;
            font-weight: normal;
        }

        .disciplina {
            text-align: center;
            margin-right: 3%;
            margin-bottom: 1%;
        }

        img {
            box-sizing: border-box;
            border-radius: 10px;
            padding: .4rem;
        }

        p {
            margin-top: .8rem;
        }

        .geografia {
            img {
                padding: 0;
            }

            p {
                margin-top: 0;
            }
        }
        .matematica img{
            background-color: #666666;
        }
        .fisica img{
            
            background-color: #0098C7;
        }
        .quimica img{
            background-color: #F5DCDC;
        }
    }
}

