    .menu-lateral {
        text-align: center;
        background-color: $cor-fundo-menu-plataforma-azul;
        border-radius: 0 20px 20px 0;
        box-shadow: 0px 4px 4px rgba(102, 102, 102, 0.25);
        box-sizing: border-box;
        height: 100%;
        padding-top: 2.5rem;
        position: fixed;
        width: 13rem;
        
        nav {
            align-items: flex-start;
            display: flex;
            height: 30%;
            margin-top: 3rem;
            text-align: left;
            
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                
                li{
                    box-sizing: border-box;
                    padding: 0 1rem;
                    a {
                        background-repeat: no-repeat;
                        background-position-y: center;
                        background-position-x: left;
                        color: $cor-text-button-azul;
                        display: block;
                        filter: brightness(1);
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        padding: 1rem 0 1rem 3rem;
                    }
                }
                
                li:nth-child(1) {
                    a {
                        background-image: url('/static/img/icons/livro.svg');
                    }
                }
                li:nth-child(2) {
                    a {
                        background-image: url('/static/img/icons/calendario.svg');
                    }
                }
                li:nth-child(3) {
                    a {
                        background-image: url('/static/img/icons/boletim.svg');
                    }
                }
                li:nth-child(4) {
                    a {
                        background-image: url('/static/img/icons/profile.svg');
                    }
                }
                li:nth-child(5) {
                    a {
                        background-image: url('/static/img/icons/gear.svg');
                    }
                }
                
                li:hover {
                    cursor:pointer;
                    background-color: $cor-hover-menu-plataforma-azul;

                    a {
                        filter: invert(97%) sepia(77%) saturate(1312%) hue-rotate(171deg) brightness(91%) contrast(90%);
                    }
                }
                
            }
        }
    }
    