//cores
$cor-placeholder-preto: #1A1A1A;
$cor-titulo-vermelho: #E70E0E;
$cor-text-button-branco: #FFFFFF;
$cor-link-geral: #000000;
$cor-texto-geral: #191919;
$cor-texto-span: #0081A8;
$cor-titulos-azul: #004257;
$cor-fundo-login-vermelhoClaro: #F5DCDC;
$cor-fundo-criarConta-azulClaro: #CFE0E5;
$cor-fundo-button-azul: #0098C7;
$cor-fundo-button-verde: #009800;
$cor-fundo-card-branco: #FAFAFA;
$cor-fundo-quem-somos: #CFE0E5;
$cor-fundo-footer: #CFE0E5;

//global
$fonte-geral: 'Montserrat', sans-serif;
$fonte-buttons: 'Roboto', sans-serif;

$font-size-h2: 3.06rem;
$container-padding-horizontal: 2.5rem;