//cores
$cor-placeholder-preto: #1A1A1A;
$cor-titulo-vermelho: #E70E0E;
$cor-text-button-branco: #FFFFFF;
$cor-link-geral: #000000;
$cor-texto-geral: #191919;
$cor-texto-menu-cinza: #666666;
$cor-titulos-azul: #004257;
$cor-fundo-login-vermelhoClaro: #F5DCDC;
$cor-fundo-criarConta-azulClaro: #CFE0E5;
$cor-fundo-button-azul: #0098C7;
$cor-fundo-button-verde: #009800;
$cor-fundo-card-branco: #FAFAFA;
$cor-fundo-quem-somos: #CFE0E5;
$cor-fundo-footer: #CFE0E5;
$cor-fundo-menu-plataforma-azul: #B1D3DE;
$cor-hover-menu-plataforma-azul: #004257;

//global

$border-radius-inputs: 15px;
$border-radius-cards: 10px;
$border-radius-button-header: 10px;
$border-radius-buttons-red: 20px;

$fonte-geral: 'Montserrat', sans-serif;
$fonte-buttons: 'Roboto', sans-serif;

$font-size-h2: 3.06rem;
$font-size-h2_mobile: 1.66rem;
$font-size-h3: 1.5rem;
$font-size-inputs: 1.25rem;
$font-size-text-area: 1.312rem;
$pont-size-paragrafo: 1.312rem;
$font-size-buttons: 1.25rem;

$container-padding-top: 2.5rem;
$container-padding-horizontal: 2.5rem;
$container-padding-horizontal_mobile: 8%;
$container-padding-bottom-menor: 3.5rem;