$cor-text-button-login: #FFFFFF;
$cor-link-geral: #000000;
$cor-texto-geral: #191919;
$cor-texto-span: #0081A8;
$cor-titulos-azul: #004257;
$cor-fundo-button-azul: #0098C7;

$fonte-geral: 'Montserrat', sans-serif;
$fonte-buttons: 'Roboto', sans-serif;